pipeline/kadaster-data-loader.json
{
	"name": "kadaster-data-loader",
	"properties": {
		"description": "Data pipeline to load all kadaster files to the database",
		"activities": [
			{
				"name": "Upload-Data",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "If Reupload 2019",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "1.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"additionalColumns": [
							{
								"name": "JsonFilePath",
								"value": "$$FILEPATH"
							}
						],
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": false,
							"wildcardFolderPath": "nl/kadaster/to_upload/ov20",
							"wildcardFileName": "*.csv",
							"enablePartitionDiscovery": true
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": true,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"enableSkipIncompatibleRow": true,
					"logSettings": {
						"enableCopyActivityLog": true,
						"copyActivityLogSettings": {
							"logLevel": "Warning",
							"enableReliableLogging": false
						},
						"logLocationSettings": {
							"linkedServiceName": {
								"referenceName": "AzureBlobStorageLogs",
								"type": "LinkedServiceReference"
							},
							"path": "logs/kadasterupload"
						}
					},
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "OVER_BEW_K",
									"type": "String"
								},
								"sink": {
									"name": "OVER_BEW_K",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "STUK_ONTV_DATUM",
									"type": "String"
								},
								"sink": {
									"name": "STUK_ONTV_DATUM",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "OVER_STUK",
									"type": "String"
								},
								"sink": {
									"name": "OVER_STUK",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "VV_NAAM",
									"type": "String"
								},
								"sink": {
									"name": "VV_NAAM",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "VV_WOONPLAATS",
									"type": "String"
								},
								"sink": {
									"name": "VV_WOONPLAATS",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "NNP_VV_K",
									"type": "String"
								},
								"sink": {
									"name": "NNP_VV_K",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "VK_NAAM",
									"type": "String"
								},
								"sink": {
									"name": "VK_NAAM",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "VK_WOONPLAATS",
									"type": "String"
								},
								"sink": {
									"name": "VK_WOONPLAATS",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "NNP_VK_K",
									"type": "String"
								},
								"sink": {
									"name": "NNP_VK_K",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "OBJE_MUT_SRT_K",
									"type": "String"
								},
								"sink": {
									"name": "OBJE_MUT_SRT_K",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "IND_FAM_TRANS",
									"type": "String"
								},
								"sink": {
									"name": "IND_FAM_TRANS",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "OBJE_OBJEKT",
									"type": "String"
								},
								"sink": {
									"name": "OBJE_OBJEKT",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "KAD_GEM",
									"type": "String"
								},
								"sink": {
									"name": "KAD_GEM",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "SECTIE",
									"type": "String"
								},
								"sink": {
									"name": "SECTIE",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "PERCEELNR",
									"type": "String"
								},
								"sink": {
									"name": "PERCEELNR",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "INDEXLT",
									"type": "String"
								},
								"sink": {
									"name": "INDEXLT",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "INDEXNR",
									"type": "String"
								},
								"sink": {
									"name": "INDEXNR",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "OBJE_GROOTTE",
									"type": "String"
								},
								"sink": {
									"name": "OBJE_GROOTTE",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "OBJE_KOOP_SOM",
									"type": "String"
								},
								"sink": {
									"name": "OBJE_KOOP_SOM",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "OBJE_IND_MEER_O_G",
									"type": "String"
								},
								"sink": {
									"name": "OBJE_IND_MEER_O_G",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "OBJE_BURG_GEM_NR",
									"type": "String"
								},
								"sink": {
									"name": "OBJE_BURG_GEM_NR",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "OBJE_BURG_GEM_NAAM",
									"type": "String"
								},
								"sink": {
									"name": "OBJE_BURG_GEM_NAAM",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "OBJE_KULT_ONGEB_K",
									"type": "String"
								},
								"sink": {
									"name": "OBJE_KULT_ONGEB_K",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "ZAKR_ZR_K",
									"type": "String"
								},
								"sink": {
									"name": "ZAKR_ZR_K",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "OBJB_OBJ_BEL_K",
									"type": "String"
								},
								"sink": {
									"name": "OBJB_OBJ_BEL_K",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "OBJE_X_COORD",
									"type": "String"
								},
								"sink": {
									"name": "OBJE_X_COORD",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "OBJE_Y_COORD",
									"type": "String"
								},
								"sink": {
									"name": "OBJE_Y_COORD",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "OBJE_KULT_TEXT",
									"type": "String"
								},
								"sink": {
									"name": "OBJE_KULT_TEXT",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "OBJA_KULT_GEB_K",
									"type": "String"
								},
								"sink": {
									"name": "OBJA_KULT_GEB_K",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "OBJA_PLTS_NAAM",
									"type": "String"
								},
								"sink": {
									"name": "OBJA_PLTS_NAAM",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "OBJA_STRAAT",
									"type": "String"
								},
								"sink": {
									"name": "OBJA_STRAAT",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "OBJA_HUIS_NR",
									"type": "String"
								},
								"sink": {
									"name": "OBJA_HUIS_NR",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "OBJA_HUIS_LR",
									"type": "String"
								},
								"sink": {
									"name": "OBJA_HUIS_LR",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "OBJA_TOEVOEGING",
									"type": "String"
								},
								"sink": {
									"name": "OBJA_TOEVOEGING",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "OBJA_PTT_K",
									"type": "String"
								},
								"sink": {
									"name": "OBJA_PTT_K",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "PHT",
									"type": "String"
								},
								"sink": {
									"name": "PHT",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "OVER_ID",
									"type": "String"
								},
								"sink": {
									"name": "OVER_ID",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "BAG_ID",
									"type": "String"
								},
								"sink": {
									"name": "BAG_ID",
									"type": "String"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "kadaster_to_be_uploaded",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DataPipelineTest_KadasterRawInputStaging",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "SP_Pipeline_Log",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Upload-Data",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Copy from staging",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[sp_UpdateCatellaDataPipeline_LogTable]",
					"storedProcedureParameters": {
						"DataFactory_Name": {
							"value": {
								"value": "@{pipeline().DataFactory}",
								"type": "Expression"
							},
							"type": "String"
						},
						"Pipeline_Name": {
							"value": {
								"value": "@{pipeline().Pipeline}",
								"type": "Expression"
							},
							"type": "String"
						},
						"RunId": {
							"value": {
								"value": "@{pipeline().RunId}",
								"type": "Expression"
							},
							"type": "String"
						},
						"Source": {
							"value": {
								"value": "@{activity('Upload-Data').output.executionDetails[0].source.type}",
								"type": "Expression"
							},
							"type": "String"
						},
						"Destination": {
							"value": {
								"value": "@{activity('Upload-Data').output.executionDetails[0].sink.type}",
								"type": "Expression"
							},
							"type": "String"
						},
						"TriggerType": {
							"value": {
								"value": "@{pipeline().TriggerType}",
								"type": "Expression"
							},
							"type": "String"
						},
						"TriggerId": {
							"value": {
								"value": "@{pipeline().TriggerId}",
								"type": "Expression"
							},
							"type": "String"
						},
						"TriggerName": {
							"value": {
								"value": "@{pipeline().TriggerName}",
								"type": "Expression"
							},
							"type": "String"
						},
						"TriggerTime": {
							"value": {
								"value": "@{pipeline().TriggerTime}",
								"type": "Expression"
							},
							"type": "String"
						},
						"RowsCopied": {
							"value": {
								"value": "@{activity('Upload-Data').output.rowsCopied}",
								"type": "Expression"
							},
							"type": "String"
						},
						"DataRead": {
							"value": {
								"value": "@{activity('Upload-Data').output.rowsRead}",
								"type": "Expression"
							},
							"type": "String"
						},
						"No_ParallelCopies": {
							"value": {
								"value": "@{activity('Upload-Data').output.usedParallelCopies}",
								"type": "Expression"
							},
							"type": "String"
						},
						"copyDuration_in_secs": {
							"value": {
								"value": "@{activity('Upload-Data').output.copyDuration}",
								"type": "Expression"
							},
							"type": "String"
						},
						"effectiveIntegrationRuntime": {
							"value": {
								"value": "@{activity('Upload-Data').output.effectiveIntegrationRuntime}",
								"type": "Expression"
							},
							"type": "String"
						},
						"Source_Type": {
							"value": {
								"value": "@{activity('Upload-Data').output.executionDetails[0].source.type}",
								"type": "Expression"
							},
							"type": "String"
						},
						"Sink_Type": {
							"value": {
								"value": "@{activity('Upload-Data').output.executionDetails[0].sink.type}",
								"type": "Expression"
							},
							"type": "String"
						},
						"Execution_Status": {
							"value": {
								"value": "@{activity('Upload-Data').output.executionDetails[0].status}",
								"type": "Expression"
							},
							"type": "String"
						},
						"CopyActivity_Start_Time": {
							"value": {
								"value": "@{activity('Upload-Data').output.executionDetails[0].start}",
								"type": "Expression"
							},
							"type": "String"
						},
						"CopyActivity_End_Time": {
							"value": {
								"value": "@{utcnow()}",
								"type": "Expression"
							},
							"type": "String"
						},
						"CopyActivity_queuingDuration_in_secs": {
							"value": {
								"value": "@{activity('Upload-Data').output.executionDetails[0]. detailedDurations.queuingDuration}",
								"type": "Expression"
							},
							"type": "String"
						},
						"CopyActivity_transferDuration_in_secs": {
							"value": {
								"value": "@{activity('Upload-Data').output.executionDetails[0]. detailedDurations.transferDuration}",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "DataPipelineSQLTest",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "SP_Pipeline_Error",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Upload-Data",
						"dependencyConditions": [
							"Failed"
						]
					},
					{
						"activity": "Copy from staging",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[sp_UpdateCatellaDataPipeline_ErrorsTable]",
					"storedProcedureParameters": {
						"DataFactory_Name": {
							"value": {
								"value": "@{pipeline().DataFactory}",
								"type": "Expression"
							},
							"type": "String"
						},
						"Pipeline_Name": {
							"value": {
								"value": "@{pipeline().Pipeline}",
								"type": "Expression"
							},
							"type": "String"
						},
						"RunId": {
							"value": {
								"value": "@{pipeline().RunId}",
								"type": "Expression"
							},
							"type": "String"
						},
						"Source": {
							"value": {
								"value": "@{activity('Upload-Data').output.executionDetails[0].source.type}",
								"type": "Expression"
							},
							"type": "String"
						},
						"Destination": {
							"value": {
								"value": "@{activity('Upload-Data').output.executionDetails[0].sink.type}",
								"type": "Expression"
							},
							"type": "String"
						},
						"TriggerType": {
							"value": {
								"value": "@{pipeline().TriggerType}",
								"type": "Expression"
							},
							"type": "String"
						},
						"TriggerId": {
							"value": {
								"value": "@{pipeline().TriggerId}",
								"type": "Expression"
							},
							"type": "String"
						},
						"TriggerName": {
							"value": {
								"value": "@{pipeline().TriggerName}",
								"type": "Expression"
							},
							"type": "String"
						},
						"TriggerTime": {
							"value": {
								"value": "@{pipeline().TriggerTime}",
								"type": "Expression"
							},
							"type": "String"
						},
						"No_ParallelCopies": {
							"value": {
								"value": "@{activity('Upload-Data').output.usedParallelCopies}",
								"type": "Expression"
							},
							"type": "String"
						},
						"CopyDuration_in_secs": {
							"value": {
								"value": "@{activity('Upload-Data').output.copyDuration}",
								"type": "Expression"
							},
							"type": "String"
						},
						"EffectiveIntegrationRuntime": {
							"value": {
								"value": "@{activity('Upload-Data').output.effectiveIntegrationRuntime}",
								"type": "Expression"
							},
							"type": "String"
						},
						"Source_Type": {
							"value": {
								"value": "@{activity('Upload-Data').output.executionDetails[0].source.type}",
								"type": "Expression"
							},
							"type": "String"
						},
						"Sink_Type": {
							"value": {
								"value": "@{activity('Upload-Data').output.executionDetails[0].sink.type}",
								"type": "Expression"
							},
							"type": "String"
						},
						"Execution_Status": {
							"value": {
								"value": "@{activity('Upload-Data').output.executionDetails[0].status}",
								"type": "Expression"
							},
							"type": "String"
						},
						"ErrorCode": {
							"value": {
								"value": "@{activity('Upload-Data').error.errorCode}",
								"type": "Expression"
							},
							"type": "String"
						},
						"ErrorDescription": {
							"value": {
								"value": "@{activity('Upload-Data').error.message}",
								"type": "Expression"
							},
							"type": "String"
						},
						"ErrorLoggedTIme": {
							"value": {
								"value": "@utcnow()",
								"type": "Expression"
							},
							"type": "String"
						},
						"FailureType": {
							"value": {
								"value": "@concat(activity('Upload-Data').error.message,'failureType:',activity('Upload-Data').error.failureType)",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "DataPipelineSQLTest",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "PipelineThrow",
				"type": "Fail",
				"dependsOn": [
					{
						"activity": "SP_Pipeline_Error",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"message": {
						"value": "@activity('Upload-Data').error.message",
						"type": "Expression"
					},
					"errorCode": {
						"value": "@activity('Upload-Data').error.errorCode",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Copy from staging",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Upload-Data",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[sp_copykadaster_data_from_staging]"
				},
				"linkedServiceName": {
					"referenceName": "DataPipelineSQLTest",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "If Reupload 2019",
				"type": "IfCondition",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@variables('reupload-2019')",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Upload-Kadaster-2019 to staging",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Reset Kadaster Raw Input",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "1.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "ExcelSource",
									"additionalColumns": [
										{
											"name": "JsonFilePath",
											"value": "$$FILEPATH"
										}
									],
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									}
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": true,
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"enableSkipIncompatibleRow": true,
								"logSettings": {
									"enableCopyActivityLog": true,
									"copyActivityLogSettings": {
										"logLevel": "Warning",
										"enableReliableLogging": false
									},
									"logLocationSettings": {
										"linkedServiceName": {
											"referenceName": "AzureBlobStorageLogs",
											"type": "LinkedServiceReference"
										},
										"path": "logs/kadasterupload"
									}
								},
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "BEWARINGKODE",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "OVER_BEW_K",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "DATUM",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "STUK_ONTV_DATUM",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "STUK_ID",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "OVER_STUK",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "MUT_SRT",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "OBJE_MUT_SRT_K",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "FAM_TRANS",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "IND_FAM_TRANS",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "OBJECT",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "OBJE_OBJEKT",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "KAD_GEM",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "KAD_GEM",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "SECTIE",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "SECTIE",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "INDEX_LR1",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "INDEXLT",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "GROOTTE",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "OBJE_GROOTTE",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "K_SOM",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "OBJE_KOOP_SOM",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "BURGEM_NR",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "OBJE_BURG_GEM_NR",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "KULT_GEB_K1",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "OBJE_KULT_ONGEB_K",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "ZAK_R",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "ZAKR_ZR_K",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "OBJ_BEL",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "OBJB_OBJ_BEL_K",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "X_COORD",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "OBJE_X_COORD",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "Y_COORD",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "OBJE_Y_COORD",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "KULT_TEKST",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "OBJE_KULT_TEXT",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "KULT_GEB_K",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "OBJA_KULT_GEB_K",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "PLTSNAAM",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "OBJA_PLTS_NAAM",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "STRAAT",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "OBJA_STRAAT",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "HUISNR",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "OBJA_HUIS_NR",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "TOEV",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "OBJA_TOEVOEGING",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "PTT_K",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "OBJA_PTT_K",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "PHT",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "PHT",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "CADOV_CADOI_ADRESSEERBR_OBJ_ID",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "BAG_ID",
												"type": "String",
												"physicalType": "nvarchar"
											}
										}
									],
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "Kadaster2019",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "DataPipelineTest_KadasterRawInputStaging",
									"type": "DatasetReference"
								}
							]
						},
						{
							"name": "Set reupload 2019 to false",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "copy-files-from-archive",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "reupload-2019",
								"value": {
									"value": "@bool(0)",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Reset Kadaster Raw Input",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[sp_reset_kadsater_raw_input]"
							},
							"linkedServiceName": {
								"referenceName": "DataPipelineSQLTest",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "copy-files-from-archive",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Upload-Kadaster-2019 to staging",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": false,
										"wildcardFolderPath": "nl/kadaster/uploaded",
										"wildcardFileName": "*.csv",
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings",
										"copyBehavior": "PreserveHierarchy"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".csv"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "kadaster_uploaded",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "kadaster_to_be_uploaded",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			},
			{
				"name": "reset-to-be-uploaded-folder",
				"type": "Delete",
				"dependsOn": [
					{
						"activity": "copy-files-to-archive",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 3,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "kadaster_to_be_uploaded",
						"type": "DatasetReference"
					},
					"logStorageSettings": {
						"linkedServiceName": {
							"referenceName": "AzureBlobStorageLogs",
							"type": "LinkedServiceReference"
						},
						"path": "logs/geomapupload"
					},
					"enableLogging": true,
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"wildcardFileName": "*",
						"enablePartitionDiscovery": false
					}
				}
			},
			{
				"name": "copy-files-to-archive",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Upload-Data",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": false,
							"wildcardFolderPath": "nl/kadaster/to_upload/ov20",
							"wildcardFileName": "*.csv",
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings",
							"copyBehavior": "PreserveHierarchy"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".csv"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "kadaster_to_be_uploaded",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "kadaster_uploaded",
						"type": "DatasetReference"
					}
				]
			}
		],
		"variables": {
			"reupload-2019": {
				"type": "Boolean",
				"defaultValue": true
			}
		},
		"annotations": [],
		"lastPublishTime": "2023-02-13T12:57:10Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}