pipeline/Kadaster_loader_OV20.json
{
	"name": "Kadaster_loader_OV20",
	"properties": {
		"activities": [
			{
				"name": "Upload OV20 data",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Remove last comma",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"wildcardFolderPath": "nl/kadaster/to_upload",
							"wildcardFileName": "Catella_OV20*.csv",
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false
					},
					"enableStaging": false,
					"enableSkipIncompatibleRow": true,
					"logSettings": {
						"enableCopyActivityLog": true,
						"copyActivityLogSettings": {
							"logLevel": "Warning",
							"enableReliableLogging": false
						},
						"logLocationSettings": {
							"linkedServiceName": {
								"referenceName": "AzureBlobStorageLogs",
								"type": "LinkedServiceReference"
							},
							"path": "data-pipeline-input-files/nl/kadaster/logs"
						}
					},
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "OVER_BEW_K",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "OVER_BEW_K",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "STUK_ONTV_DATUM",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "STUK_ONTV_DATUM",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "OVER_STUK",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "OVER_STUK",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "VV_NAAM",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "VV_NAAM",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "VV_WOONPLAATS",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "VV_WOONPLAATS",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "NNP_VV_K",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "NNP_VV_K",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "VK_NAAM",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "VK_NAAM",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "VK_WOONPLAATS",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "VK_WOONPLAATS",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "NNP_VK_K",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "NNP_VK_K",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "OBJE_MUT_SRT_K",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "OBJE_MUT_SRT_K",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "IND_FAM_TRANS",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "IND_FAM_TRANS",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "OBJE_OBJEKT",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "OBJE_OBJEKT",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "KAD_GEM",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "KAD_GEM",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "SECTIE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "SECTIE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PERCEELNR",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "PERCEELNR",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "INDEXLT",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "INDEXLT",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "INDEXNR",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "INDEXNR",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "OBJE_GROOTTE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "OBJE_GROOTTE",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "OBJE_KOOP_SOM",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "OBJE_KOOP_SOM",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "OBJE_IND_MEER_O_G",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "OBJE_IND_MEER_O_G",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "OBJE_BURG_GEM_NR",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "OBJE_BURG_GEM_NR",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "OBJE_BURG_GEM_NAAM",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "OBJE_BURG_GEM_NAAM",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "OBJE_KULT_ONGEB_K",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "OBJE_KULT_ONGEB_K",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "ZAKR_ZR_K",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "ZAKR_ZR_K",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "OBJB_OBJ_BEL_K",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "OBJB_OBJ_BEL_K",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "OBJE_X_COORD",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "OBJE_X_COORD",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "OBJE_Y_COORD",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "OBJE_Y_COORD",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "OBJE_KULT_TEXT",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "OBJE_KULT_TEXT",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "OBJA_KULT_GEB_K",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "OBJA_KULT_GEB_K",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "OBJA_PLTS_NAAM",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "OBJA_PLTS_NAAM",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "OBJA_STRAAT",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "OBJA_STRAAT",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "OBJA_HUIS_NR",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "OBJA_HUIS_NR",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "OBJA_HUIS_LR",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "OBJA_HUIS_LR",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "OBJA_TOEVOEGING",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "OBJA_TOEVOEGING",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "OBJA_PTT_K",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "OBJA_PTT_K",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "PHT",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "PHT",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "OVER_ID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "OVER_ID",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "BAG_ID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "BAG_ID",
									"type": "String",
									"physicalType": "nvarchar"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "OV20_Input_files",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "AzureSql_Kadaster_Input_Table",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Copy file_to_archive",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Copy OV20 from staging",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"wildcardFolderPath": "nl/kadaster/to_upload",
							"wildcardFileName": "Catella_OV20*.csv",
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings",
							"copyBehavior": "PreserveHierarchy"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "OV20_Input_files",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Kadaster_archive",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "delete_from_toUpload_folder",
				"type": "Delete",
				"dependsOn": [
					{
						"activity": "Copy file_to_archive",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "kadaster_to_be_uploaded",
						"type": "DatasetReference"
					},
					"enableLogging": false,
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"wildcardFileName": "Catella_OV20*.csv",
						"enablePartitionDiscovery": false
					}
				}
			},
			{
				"name": "Copy OV20 from staging",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Upload OV20 data",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[sp_copykadaster_OV20data_from_staging]"
				},
				"linkedServiceName": {
					"referenceName": "DataPipelineSQLDev",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Get Uploaded Filenames",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "kadaster_to_be_uploaded",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "Set filenames string",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Filter OV20 files",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "af",
					"value": {
						"value": "@replace(replace(replace(replace(replace(replace(replace(replace(replace(string(activity('Filter OV20 files').output.Value),'[{',''),'}]',''),'{',''),'}',''),'\"type\":\"Folder\"',''),'\"type\":\"File\"',''),'\"',''),'name:',''),',,',', ')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Remove last comma",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set filenames string",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "filenames_str",
					"value": {
						"value": "@substring(variables('af'), 0, add(length(variables('af')),-1))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Filter OV20 files",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Get Uploaded Filenames",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Uploaded Filenames').output.childItems",
						"type": "Expression"
					},
					"condition": {
						"value": "@contains(string(item()), 'OV20')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Insert_Log",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Upload OV20 data",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[Insert_ADF_Logs]",
					"storedProcedureParameters": {
						"CopyActivityRunID": {
							"value": {
								"value": "@activity('Upload OV20 data').ActivityRunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"Date": {
							"value": {
								"value": "@utcnow()",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"ErrorMessage": {
							"value": null,
							"type": "String"
						},
						"Filenames": {
							"value": {
								"value": "@variables('filenames_str')",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineName": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineRunID": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"Rows_skipped": {
							"value": {
								"value": "@activity('Upload OV20 data').output.rowsSkipped",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"Rows_written": {
							"value": {
								"value": "@activity('Upload OV20 data').output.rowsCopied",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"StatusMessage": {
							"value": {
								"value": "@activity('Upload OV20 data').output.executionDetails[0].status",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "datapipeline_dev_db",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Insert_Error_Log",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Upload OV20 data",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[Insert_ADF_Logs]",
					"storedProcedureParameters": {
						"CopyActivityRunID": {
							"value": {
								"value": "@activity('Upload OV20 data').ActivityRunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"Date": {
							"value": {
								"value": "@utcnow()",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"ErrorMessage": {
							"value": {
								"value": "@activity('Upload OV20 data').output.errors[0].Message",
								"type": "Expression"
							},
							"type": "String"
						},
						"Filenames": {
							"value": {
								"value": "@variables('filenames_str')",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineName": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineRunID": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"Rows_skipped": {
							"value": {
								"value": "@activity('Upload OV20 data').output.rowsSkipped",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"Rows_written": {
							"value": {
								"value": "@activity('Upload OV20 data').output.rowsCopied",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"StatusMessage": {
							"value": {
								"value": "@activity('Upload OV20 data').output.executionDetails[0].status",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "datapipeline_dev_db",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Raise_Failed",
				"type": "Fail",
				"dependsOn": [
					{
						"activity": "Insert_Error_Log",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"message": {
						"value": "@activity('Upload OV20 data').output.errors[0].Message",
						"type": "Expression"
					},
					"errorCode": {
						"value": "@activity('Upload OV20 data').output.errors[0].Code",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"af": {
				"type": "String"
			},
			"filenames_str": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2023-07-18T20:44:05Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}