pipeline/yanport-data-loader_manual.json
{
	"name": "yanport-data-loader_manual",
	"properties": {
		"description": "Knibber Research loader",
		"activities": [
			{
				"name": "Upload-Data-to-DB",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Remove last comma",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "1.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"additionalColumns": [
							{
								"name": "JsonFilePath",
								"value": "$$FILEPATH"
							}
						],
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": false,
							"wildcardFolderPath": "benelux/kra/to_upload",
							"wildcardFileName": "*",
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": true,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"enableSkipIncompatibleRow": true,
					"logSettings": {
						"enableCopyActivityLog": true,
						"copyActivityLogSettings": {
							"logLevel": "Warning",
							"enableReliableLogging": false
						},
						"logLocationSettings": {
							"linkedServiceName": {
								"referenceName": "AzureBlobStorageLogs",
								"type": "LinkedServiceReference"
							},
							"path": "data-pipeline-input-files/fr/yanport/logs"
						}
					},
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"path": "$"
								}
							}
						],
						"collectionReference": "",
						"mapComplexValuesToString": true
					}
				},
				"inputs": [
					{
						"referenceName": "yanport_to_be_uplod_folder",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "AzureSql_Yanport_Input_Table",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "move-files-to-archive",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Upload-Data-to-DB",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "BinarySource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": false,
							"wildcardFolderPath": "benelux/kra/to_upload",
							"wildcardFileName": "*.zip",
							"deleteFilesAfterCompletion": true
						},
						"formatSettings": {
							"type": "BinaryReadSettings"
						}
					},
					"sink": {
						"type": "BinarySink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "kra_to_be_uploaded_files_zip",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "kra_uploaded_zip_folder",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Insert_Log",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Upload-Data-to-DB",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[Insert_ADF_Logs]",
					"storedProcedureParameters": {
						"CopyActivityRunID": {
							"value": {
								"value": "@activity('Upload-Data-to-DB').ActivityRunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"Date": {
							"value": {
								"value": "@utcnow()",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"ErrorMessage": {
							"value": null,
							"type": "String"
						},
						"Filenames": {
							"value": {
								"value": "@variables('filenames_str')",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineName": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineRunID": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"Rows_skipped": {
							"value": {
								"value": "@activity('Upload-Data-to-DB').output.rowsSkipped",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"Rows_written": {
							"value": {
								"value": "@activity('Upload-Data-to-DB').output.rowsCopied",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"StatusMessage": {
							"value": {
								"value": "@activity('Upload-Data-to-DB').output.executionDetails[0].status",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "datapipeline_dev_db",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Insert_Error_Log",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Upload-Data-to-DB",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[Insert_ADF_Logs]",
					"storedProcedureParameters": {
						"CopyActivityRunID": {
							"value": {
								"value": "@activity('Upload-Data-to-DB').ActivityRunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"Date": {
							"value": {
								"value": "@utcnow()",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"ErrorMessage": {
							"value": {
								"value": "@activity('Upload-Data-to-DB').output.errors[0].Message",
								"type": "Expression"
							},
							"type": "String"
						},
						"Filenames": {
							"value": {
								"value": "@variables('filenames_str')",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineName": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineRunID": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"Rows_skipped": {
							"value": {
								"value": "@activity('Upload-Data-to-DB').output.rowsSkipped",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"Rows_written": {
							"value": {
								"value": "@activity('Upload-Data-to-DB').output.rowsCopied",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"StatusMessage": {
							"value": {
								"value": "@activity('Upload-Data-to-DB').output.executionDetails[0].status",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "datapipeline_dev_db",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Get Uploaded Filenames",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "yanport_to_be_upload_folder",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "JsonReadSettings"
					}
				}
			},
			{
				"name": "Raise_Failed",
				"type": "Fail",
				"dependsOn": [
					{
						"activity": "Insert_Error_Log",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"message": {
						"value": "@activity('Upload-Data-to-DB').output.errors[0].Message",
						"type": "Expression"
					},
					"errorCode": {
						"value": "@activity('Upload-Data-to-DB').output.errors[0].Code",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set filenames string",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Get Uploaded Filenames",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "af",
					"value": {
						"value": "@replace(replace(replace(replace(replace(replace(replace(replace(replace(string(activity('Get Uploaded Filenames').output.childItems),'[{',''),'}]',''),'{',''),'}',''),'\"type\":\"Folder\"',''),'\"type\":\"File\"',''),'\"',''),'name:',''),',,',', ')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Remove last comma",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set filenames string",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "filenames_str",
					"value": {
						"value": "@substring(variables('af'), 0, add(length(variables('af')),-1))",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"af": {
				"type": "String"
			},
			"filenames_str": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2023-07-18T20:44:05Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}