pipeline-data-factory-instance/linkedTemplates/ArmTemplate_2.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "pipeline-data-factory-instance"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/Kadaster2019')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "datapipeline_blob_storage",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Excel",
				"typeProperties": {
					"sheetName": "Sheet1",
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "Kadaster Helper.xlsx",
						"folderPath": "nl/kadaster/to_upload/k2019",
						"container": "data-pipeline-input-files"
					},
					"firstRowAsHeader": true
				},
				"schema": [
					{
						"name": "CADOV_CADOI_ADRESSEERBR_OBJ_ID",
						"type": "String"
					},
					{
						"name": "DATUM",
						"type": "String"
					},
					{
						"name": "PTT_K",
						"type": "String"
					},
					{
						"name": "PLTSNAAM",
						"type": "String"
					},
					{
						"name": "STRAAT",
						"type": "String"
					},
					{
						"name": "HUISNR",
						"type": "String"
					},
					{
						"name": "TOEV",
						"type": "String"
					},
					{
						"name": "WONINGTYPE",
						"type": "String"
					},
					{
						"name": "X_COORD",
						"type": "String"
					},
					{
						"name": "Y_COORD",
						"type": "String"
					},
					{
						"name": "KULT_GEB_K",
						"type": "String"
					},
					{
						"name": "GROOTTE",
						"type": "String"
					},
					{
						"name": "K_SOM",
						"type": "String"
					},
					{
						"name": "IND_M_O_G",
						"type": "String"
					},
					{
						"name": "ZAK_R",
						"type": "String"
					},
					{
						"name": "KULT_TEKST",
						"type": "String"
					},
					{
						"name": "OBJ_BEL",
						"type": "String"
					},
					{
						"name": "ERFDIENSTBH",
						"type": "String"
					},
					{
						"name": "KULT_GEB_K1",
						"type": "String"
					},
					{
						"name": "KULT_ONGEB_K1",
						"type": "String"
					},
					{
						"name": "INDEX_LR1",
						"type": "String"
					},
					{
						"name": "GROOTTE1",
						"type": "String"
					},
					{
						"name": "PTT_K1",
						"type": "String"
					},
					{
						"name": "PLTSNAAM1",
						"type": "String"
					},
					{
						"name": "STRAAT1",
						"type": "String"
					},
					{
						"name": "HUISNR1",
						"type": "String"
					},
					{
						"name": "TOEV1",
						"type": "String"
					},
					{
						"name": "KULT_GEB_K2",
						"type": "String"
					},
					{
						"name": "KULT_ONGEB_K2",
						"type": "String"
					},
					{
						"name": "INDEX_LR2",
						"type": "String"
					},
					{
						"name": "GROOTTE2",
						"type": "String"
					},
					{
						"name": "PTT_K2",
						"type": "String"
					},
					{
						"name": "PLTSNAAM2",
						"type": "String"
					},
					{
						"name": "STRAAT2",
						"type": "String"
					},
					{
						"name": "HUISNR2",
						"type": "String"
					},
					{
						"name": "TOEV2",
						"type": "String"
					},
					{
						"name": "KULT_GEB_K3",
						"type": "String"
					},
					{
						"name": "KULT_ONGEB_K3",
						"type": "String"
					},
					{
						"name": "INDEX_LR3",
						"type": "String"
					},
					{
						"name": "GROOTTE3",
						"type": "String"
					},
					{
						"name": "PTT_K3",
						"type": "String"
					},
					{
						"name": "PLTSNAAM3",
						"type": "String"
					},
					{
						"name": "STRAAT3",
						"type": "String"
					},
					{
						"name": "HUISNR3",
						"type": "String"
					},
					{
						"name": "TOEV3",
						"type": "String"
					},
					{
						"name": "KULT_GEB_K4",
						"type": "String"
					},
					{
						"name": "KULT_ONGEB_K4",
						"type": "String"
					},
					{
						"name": "INDEX_LR4",
						"type": "String"
					},
					{
						"name": "GROOTTE4",
						"type": "String"
					},
					{
						"name": "PTT_K4",
						"type": "String"
					},
					{
						"name": "PLTSNAAM4",
						"type": "String"
					},
					{
						"name": "STRAAT4",
						"type": "String"
					},
					{
						"name": "HUISNR4",
						"type": "String"
					},
					{
						"name": "TOEV4",
						"type": "String"
					},
					{
						"name": "IND_HUURDER",
						"type": "String"
					},
					{
						"name": "BEWARINGKODE",
						"type": "String"
					},
					{
						"name": "STUK_ID",
						"type": "String"
					},
					{
						"name": "MUT_SRT",
						"type": "String"
					},
					{
						"name": "BURGEM_NR",
						"type": "String"
					},
					{
						"name": "OBJECT",
						"type": "String"
					},
					{
						"name": "NNP_1E_VERKR",
						"type": "String"
					},
					{
						"name": "NNP_1E_VERVR",
						"type": "String"
					},
					{
						"name": "FAM_TRANS",
						"type": "String"
					},
					{
						"name": "PHT",
						"type": "String"
					},
					{
						"name": "KAD_GEM",
						"type": "String"
					},
					{
						"name": "SECTIE",
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Kadaster_archive')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "datapipeline_blob_storage",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"folderPath": "nl/kadaster/uploaded",
						"container": "data-pipeline-input-files"
					},
					"columnDelimiter": ";",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/OV15_Input_files')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "datapipeline_blob_storage",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "Catella_OV15*.csv",
						"folderPath": "nl/kadaster/to_upload",
						"container": "data-pipeline-input-files"
					},
					"columnDelimiter": ";",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"nullValue": "\"\"",
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "DATUM",
						"type": "String"
					},
					{
						"name": "PTT_K",
						"type": "String"
					},
					{
						"name": "PLTSNAAM",
						"type": "String"
					},
					{
						"name": "STRAAT",
						"type": "String"
					},
					{
						"name": "HUISNR",
						"type": "String"
					},
					{
						"name": "TOEV",
						"type": "String"
					},
					{
						"name": "WONINGTYPE",
						"type": "String"
					},
					{
						"name": "X_COORD",
						"type": "String"
					},
					{
						"name": "Y_COORD",
						"type": "String"
					},
					{
						"name": "KULT_GEB_K",
						"type": "String"
					},
					{
						"name": "GROOTTE",
						"type": "String"
					},
					{
						"name": "K_SOM",
						"type": "String"
					},
					{
						"name": "IND_M_O_G",
						"type": "String"
					},
					{
						"name": "ZAK_R",
						"type": "String"
					},
					{
						"name": "KULT_TEKST",
						"type": "String"
					},
					{
						"name": "OBJ_BEL",
						"type": "String"
					},
					{
						"name": "ERFDIENSTBH",
						"type": "String"
					},
					{
						"name": "KULT_GEB_K1",
						"type": "String"
					},
					{
						"name": "KULT_ONGEB_K1",
						"type": "String"
					},
					{
						"name": "INDEX_LR1",
						"type": "String"
					},
					{
						"name": "GROOTTE1",
						"type": "String"
					},
					{
						"name": "PTT_K1",
						"type": "String"
					},
					{
						"name": "PLTSNAAM1",
						"type": "String"
					},
					{
						"name": "STRAAT1",
						"type": "String"
					},
					{
						"name": "HUISNR1",
						"type": "String"
					},
					{
						"name": "TOEV1",
						"type": "String"
					},
					{
						"name": "KULT_GEB_K2",
						"type": "String"
					},
					{
						"name": "KULT_ONGEB_K2",
						"type": "String"
					},
					{
						"name": "INDEX_LR2",
						"type": "String"
					},
					{
						"name": "GROOTTE2",
						"type": "String"
					},
					{
						"name": "PTT_K2",
						"type": "String"
					},
					{
						"name": "PLTSNAAM2",
						"type": "String"
					},
					{
						"name": "STRAAT2",
						"type": "String"
					},
					{
						"name": "HUISNR2",
						"type": "String"
					},
					{
						"name": "TOEV2",
						"type": "String"
					},
					{
						"name": "KULT_GEB_K3",
						"type": "String"
					},
					{
						"name": "KULT_ONGEB_K3",
						"type": "String"
					},
					{
						"name": "INDEX_LR3",
						"type": "String"
					},
					{
						"name": "GROOTTE3",
						"type": "String"
					},
					{
						"name": "PTT_K3",
						"type": "String"
					},
					{
						"name": "PLTSNAAM3",
						"type": "String"
					},
					{
						"name": "STRAAT3",
						"type": "String"
					},
					{
						"name": "HUISNR3",
						"type": "String"
					},
					{
						"name": "TOEV3",
						"type": "String"
					},
					{
						"name": "KULT_GEB_K4",
						"type": "String"
					},
					{
						"name": "KULT_ONGEB_K4",
						"type": "String"
					},
					{
						"name": "INDEX_LR4",
						"type": "String"
					},
					{
						"name": "GROOTTE4",
						"type": "String"
					},
					{
						"name": "PTT_K4",
						"type": "String"
					},
					{
						"name": "PLTSNAAM4",
						"type": "String"
					},
					{
						"name": "STRAAT4",
						"type": "String"
					},
					{
						"name": "HUISNR4",
						"type": "String"
					},
					{
						"name": "TOEV4",
						"type": "String"
					},
					{
						"name": "IND_HUURDER",
						"type": "String"
					},
					{
						"name": "BEWARINGKODE",
						"type": "String"
					},
					{
						"name": "STUK_ID",
						"type": "String"
					},
					{
						"name": "MUT_SRT",
						"type": "String"
					},
					{
						"name": "BURGEM_NR",
						"type": "String"
					},
					{
						"name": "OBJECT",
						"type": "String"
					},
					{
						"name": "NNP_1E_VERKR",
						"type": "String"
					},
					{
						"name": "NNP_1E_VERVR",
						"type": "String"
					},
					{
						"name": "FAM_TRANS",
						"type": "String"
					},
					{
						"name": "PHT",
						"type": "String"
					},
					{
						"name": "KAD_GEM",
						"type": "String"
					},
					{
						"name": "SECTIE",
						"type": "String"
					},
					{
						"name": "BAG_ID",
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/OV20_Input_files')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "datapipeline_blob_storage",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "Catella_OV20*.csv",
						"folderPath": "nl/kadaster/to_upload",
						"container": "data-pipeline-input-files"
					},
					"columnDelimiter": ";",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "OVER_BEW_K",
						"type": "String"
					},
					{
						"name": "STUK_ONTV_DATUM",
						"type": "String"
					},
					{
						"name": "OVER_STUK",
						"type": "String"
					},
					{
						"name": "VV_NAAM",
						"type": "String"
					},
					{
						"name": "VV_WOONPLAATS",
						"type": "String"
					},
					{
						"name": "NNP_VV_K",
						"type": "String"
					},
					{
						"name": "VK_NAAM",
						"type": "String"
					},
					{
						"name": "VK_WOONPLAATS",
						"type": "String"
					},
					{
						"name": "NNP_VK_K",
						"type": "String"
					},
					{
						"name": "OBJE_MUT_SRT_K",
						"type": "String"
					},
					{
						"name": "IND_FAM_TRANS",
						"type": "String"
					},
					{
						"name": "OBJE_OBJEKT",
						"type": "String"
					},
					{
						"name": "KAD_GEM",
						"type": "String"
					},
					{
						"name": "SECTIE",
						"type": "String"
					},
					{
						"name": "PERCEELNR",
						"type": "String"
					},
					{
						"name": "INDEXLT",
						"type": "String"
					},
					{
						"name": "INDEXNR",
						"type": "String"
					},
					{
						"name": "OBJE_GROOTTE",
						"type": "String"
					},
					{
						"name": "OBJE_KOOP_SOM",
						"type": "String"
					},
					{
						"name": "OBJE_IND_MEER_O_G",
						"type": "String"
					},
					{
						"name": "OBJE_BURG_GEM_NR",
						"type": "String"
					},
					{
						"name": "OBJE_BURG_GEM_NAAM",
						"type": "String"
					},
					{
						"name": "OBJE_KULT_ONGEB_K",
						"type": "String"
					},
					{
						"name": "ZAKR_ZR_K",
						"type": "String"
					},
					{
						"name": "OBJB_OBJ_BEL_K",
						"type": "String"
					},
					{
						"name": "OBJE_X_COORD",
						"type": "String"
					},
					{
						"name": "OBJE_Y_COORD",
						"type": "String"
					},
					{
						"name": "OBJE_KULT_TEXT",
						"type": "String"
					},
					{
						"name": "OBJA_KULT_GEB_K",
						"type": "String"
					},
					{
						"name": "OBJA_PLTS_NAAM",
						"type": "String"
					},
					{
						"name": "OBJA_STRAAT",
						"type": "String"
					},
					{
						"name": "OBJA_HUIS_NR",
						"type": "String"
					},
					{
						"name": "OBJA_HUIS_LR",
						"type": "String"
					},
					{
						"name": "OBJA_TOEVOEGING",
						"type": "String"
					},
					{
						"name": "OBJA_PTT_K",
						"type": "String"
					},
					{
						"name": "PHT",
						"type": "String"
					},
					{
						"name": "OVER_ID",
						"type": "String"
					},
					{
						"name": "BAG_ID",
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/WH_archive')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "datapipeline_blob_storage",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"folderPath": "nl/Watson_Holmes/uploaded",
						"container": "data-pipeline-input-files"
					},
					"columnDelimiter": "|",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/funda_test')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "datapipeline_blob_storage",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "real_estate_sample.json",
						"folderPath": "nl",
						"container": "data-pipeline-input-files"
					}
				},
				"schema": {
					"type": "object",
					"properties": {
						"description": {
							"type": "string"
						},
						"itemCount": {
							"type": "integer"
						},
						"result": {
							"type": "array",
							"items": {
								"type": "object",
								"properties": {
									"objectID": {
										"type": "integer"
									},
									"objectUrl": {
										"type": "string"
									},
									"address": {
										"type": "string"
									},
									"jsondata_address_street": {
										"type": "null"
									},
									"jsondata_zipcode": {
										"type": "string"
									},
									"jsondata_city": {
										"type": "string"
									},
									"jsondata_province": {
										"type": "string"
									},
									"jsondata_address_housenumber": {
										"type": "string"
									},
									"jsondata_address_housenumber_extension": {
										"type": "string"
									},
									"jsondata_price_buy": {
										"type": "null"
									},
									"jsondata_price_rental": {
										"type": "number"
									},
									"jsondata_squaremeters": {
										"type": "null"
									},
									"jsondata_energieklasse": {
										"type": "null"
									},
									"zipCode": {
										"type": "string"
									},
									"city": {
										"type": "string"
									},
									"omschrijving": {
										"type": "string"
									},
									"isExternal": {
										"type": "integer"
									},
									"kenmerkenOverdracht_priceString": {
										"type": "string"
									},
									"kenmerkenOverdracht_price": {
										"type": "number"
									},
									"kenmerkenOverdracht_firstPrice": {
										"type": "null"
									},
									"kenmerkenOverdracht_aangebodenSinds": {
										"type": "string"
									},
									"kenmerkenOverdracht_status": {
										"type": "string"
									},
									"kenmerkenOverdracht_acceptatie": {
										"type": "string"
									},
									"bouw_soortWoonhuis": {
										"type": "string"
									},
									"bouw_soortAppartement": {
										"type": "string"
									},
									"bouw_soortBouw": {
										"type": "string"
									},
									"bouw_bouwjaar": {
										"type": "integer"
									},
									"bouw_soortDak": {
										"type": "string"
									},
									"bouw_specifiek": {
										"type": "string"
									},
									"oppervlakteInhoud_woonoppervlakte": {
										"type": "integer"
									},
									"oppervlakteInhoud_overigeInpandigeRuimte": {
										"type": "integer"
									},
									"oppervlakteInhoud_externeBergRuimte": {
										"type": "integer"
									},
									"oppervlakteInhoud_perceelOppervlakte": {
										"type": "integer"
									},
									"oppervlakteInhoud_inhoud": {
										"type": "integer"
									},
									"indeling_aantalKamersString": {
										"type": "string"
									},
									"Indeling_aantalkamers": {
										"type": "null"
									},
									"Indeling_aantalSlaapkamers": {
										"type": "null"
									},
									"Indeling_aantalBadkamers": {
										"type": "null"
									},
									"Indeling_badkamerVoorzieningen": {
										"type": "string"
									},
									"Indeling_aantalWoonlagen": {
										"type": "null"
									},
									"Indeling_voorzieningen": {
										"type": "string"
									},
									"VVE_bijdrage": {
										"type": "string"
									},
									"VVEChecklist_inschrijving": {
										"type": "string"
									},
									"VVEChecklist_jaarlijkseVergadering": {
										"type": "string"
									},
									"VVEChecklist_periodiekeBijdrage": {
										"type": "string"
									},
									"VVEChecklist_reservefondsAanwezig": {
										"type": "string"
									},
									"VVEChecklist_onderhoudsplan": {
										"type": "string"
									},
									"VVEChecklist_opstalverzekering": {
										"type": "string"
									},
									"Energie_voorlopigEnergieLabel": {
										"type": "string"
									},
									"Energie_isolatie": {
										"type": "string"
									},
									"Energie_verwarming": {
										"type": "string"
									},
									"Energy_warmWater": {
										"type": "string"
									},
									"kadastraleGegevens_oppervlakte": {
										"type": "integer"
									},
									"kadastraleGegevens_eigendomsSituatie": {
										"type": "string"
									},
									"kadastraleGegevens_lasten": {
										"type": "string"
									},
									"buitenRuimte_ligging": {
										"type": "string"
									},
									"buitenRuimte_tuin": {
										"type": "string"
									},
									"buitenRuimte_achtertuin": {
										"type": "integer"
									},
									"buitenRuimte_voorTuin": {
										"type": "integer"
									},
									"Buitenruimte_liggingTuin": {
										"type": "string"
									},
									"Buitenruimte_balkonDakterras": {
										"type": "string"
									},
									"parkeerGelegenheid_soortParkeerGelegenheid": {
										"type": "string"
									},
									"Garage_soortGarage": {
										"type": "string"
									},
									"isRental": {
										"type": "integer"
									},
									"huur_huurPrijsString": {
										"type": "string"
									},
									"huur_huurPrijs": {
										"type": "number"
									},
									"huur_waarborgSomString": {
										"type": "string"
									},
									"bouw_soortAppertement": {
										"type": "null"
									},
									"Energy_cvketel": {
										"type": "string"
									},
									"huur_waarborgSom": {
										"type": "integer"
									},
									"adjusted": {
										"type": "integer"
									},
									"priceHistory": {
										"type": "string"
									},
									"statusHistory": {
										"type": "string"
									},
									"huur_kostenHuurderString": {
										"type": "string"
									},
									"huur_huurOvereenkomst": {
										"type": "string"
									},
									"realEstateAgent_name": {
										"type": "string"
									},
									"realEstateAgent_phone": {
										"type": "string"
									},
									"realEstateAgent_fundaUrl": {
										"type": "string"
									},
									"images": {
										"type": "string"
									},
									"soldFirstForSaleDate": {
										"type": "string"
									},
									"soldSoldDate": {
										"type": "string"
									},
									"id": {
										"type": "integer"
									}
								}
							}
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/geomap_to_be_uploaded_files')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "datapipeline_blob_storage",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "*.zip",
						"folderPath": "de/geomap/to_upload",
						"container": "data-pipeline-input-files"
					}
				},
				"schema": {
					"type": "object",
					"properties": {
						"crawlerObject": {
							"type": "object",
							"properties": {
								"kaufMiete": {
									"type": "string"
								},
								"lage": {
									"type": "object",
									"properties": {
										"ort": {
											"type": "string"
										},
										"landName": {
											"type": "string"
										},
										"geoLongitude": {
											"type": "number"
										},
										"geoLatitude": {
											"type": "number"
										},
										"bundesland": {
											"type": "string"
										},
										"land": {
											"type": "string"
										},
										"plz": {
											"type": "string"
										},
										"strasse": {
											"type": "string"
										},
										"stadtteilOrtsteil": {
											"type": "string"
										}
									}
								},
								"anbieter": {
									"type": "array",
									"items": {
										"type": "object",
										"properties": {
											"name": {
												"type": "string"
											},
											"anbieterGewerblich": {
												"type": "boolean"
											}
										}
									}
								},
								"angebotsInformationen": {
									"type": "object",
									"properties": {
										"titel": {
											"type": "string"
										},
										"onlineSeitLautPortalText": {
											"type": "string"
										},
										"portalUrl": {
											"type": "string"
										},
										"onlineSeitLautPortal": {
											"type": "string"
										},
										"beschreibungen": {
											"type": "object",
											"properties": {
												"BESCHREIBUNG": {
													"type": "string"
												},
												"LAGE": {
													"type": "string"
												},
												"SONSTIGES": {
													"type": "string"
												},
												"AUSSTATTUNG": {
													"type": "string"
												}
											}
										},
										"verfugbarAbText": {
											"type": "string"
										},
										"medien": {
											"type": "array",
											"items": {
												"type": "object",
												"properties": {
													"mediaArt": {
														"type": "string"
													},
													"originUrl": {
														"type": "string"
													},
													"mediaTyp": {
														"type": "array",
														"items": {
															"type": "string"
														}
													}
												}
											}
										},
										"verfugbarAb": {
											"type": "string"
										}
									}
								},
								"objektEigenschaften": {
									"type": "object",
									"properties": {
										"anzahlen": {
											"type": "object",
											"properties": {
												"ZIMMER": {
													"type": "number"
												},
												"BADEZIMMER": {
													"type": "number"
												},
												"SCHLAFZIMMER": {
													"type": "number"
												},
												"ETAGEN": {
													"type": "number"
												}
											}
										},
										"flächen": {
											"type": "object",
											"properties": {
												"flächeValues": {
													"type": "object",
													"properties": {
														"Wohnflaeche": {
															"type": "number"
														},
														"Grundstuecksflaeche": {
															"type": "number"
														}
													}
												}
											}
										},
										"sonstiges": {
											"type": "array",
											"items": {
												"type": "string"
											}
										},
										"heizungsart": {
											"type": "array",
											"items": {
												"type": "string"
											}
										},
										"etageText": {
											"type": "string"
										},
										"stellplatz": {
											"type": "array",
											"items": {
												"type": "string"
											}
										},
										"energieträger": {
											"type": "array",
											"items": {
												"type": "string"
											}
										},
										"saniert": {
											"type": "boolean"
										},
										"energieausweis": {
											"type": "object",
											"properties": {
												"ausweisTyp": {
													"type": "string"
												},
												"ausweisInfo": {
													"type": "string"
												},
												"energieKennwerte": {
													"type": "object",
													"properties": {
														"ENERGIEKENNWERT": {
															"type": "object",
															"properties": {
																"KennwertKlasse": {
																	"type": "string"
																},
																"kennwert": {
																	"type": "number"
																},
																"KennwertKlasseText": {
																	"type": "string"
																}
															}
														}
													}
												}
											}
										},
										"etage": {
											"type": "number"
										},
										"lageEinheit": {
											"type": "array",
											"items": {
												"type": "string"
											}
										},
										"küche": {
											"type": "array",
											"items": {
												"type": "string"
											}
										},
										"balkonTerrasse": {
											"type": "array",
											"items": {
												"type": "string"
											}
										},
										"jahreszahlen": {
											"type": "object",
											"properties": {
												"SANIERUNG": {
													"type": "integer"
												},
												"BAUJAHR": {
													"type": "integer"
												}
											}
										},
										"keller": {
											"type": "array",
											"items": {
												"type": "string"
											}
										},
										"aufzug": {
											"type": "array",
											"items": {
												"type": "string"
											}
										},
										"sanitär": {
											"type": "array",
											"items": {
												"type": "string"
											}
										},
										"möbliert": {
											"type": "array",
											"items": {
												"type": "string"
											}
										}
									}
								},
								"objektArt": {
									"type": "string"
								},
								"preise": {
									"type": "object",
									"properties": {
										"preisTexte": {
											"type": "object",
											"properties": {
												"MieteProMonatOhneNebenkosten": {
													"type": "string"
												},
												"MieteProMonatMitNebenkosten": {
													"type": "string"
												},
												"NebenkostenProMonat": {
													"type": "string"
												},
												"MietKaution": {
													"type": "string"
												},
												"HeizkostenProMonat": {
													"type": "string"
												},
												"MieteProMonatProStellplatz": {
													"type": "string"
												}
											}
										},
										"currency": {
											"type": "string"
										},
										"preisValues": {
											"type": "object",
											"properties": {
												"MieteProMonatOhneNebenkosten": {
													"type": "number"
												},
												"MieteProMonatMitNebenkosten": {
													"type": "number"
												},
												"NebenkostenProMonat": {
													"type": "number"
												},
												"MieteProMonatProStellplatz": {
													"type": "number"
												},
												"MietKaution": {
													"type": "number"
												},
												"HeizkostenProMonat": {
													"type": "number"
												}
											}
										},
										"heizkostenInNebenkostenEnthalten": {
											"type": "boolean"
										}
									}
								},
								"addr": {
									"type": "object",
									"properties": {
										"ort": {
											"type": "string"
										},
										"kreisId": {
											"type": "string"
										},
										"kreis": {
											"type": "string"
										},
										"landId": {
											"type": "string"
										},
										"parentIds": {
											"type": "array",
											"items": {
												"type": "string"
											}
										},
										"accuracy": {
											"type": "string"
										},
										"location": {
											"type": "object",
											"properties": {
												"lon": {
													"type": "number"
												},
												"lat": {
													"type": "number"
												}
											}
										},
										"ortId": {
											"type": "string"
										},
										"plz": {
											"type": "string"
										},
										"stadtteil": {
											"type": "string"
										},
										"stadtbezirk": {
											"type": "string"
										},
										"strasse": {
											"type": "string"
										},
										"stadtteilId": {
											"type": "string"
										},
										"hausnummer": {
											"type": "string"
										},
										"stadtbezirkId": {
											"type": "string"
										}
									}
								},
								"objektTyp": {
									"type": "string"
								},
								"objektTypText": {
									"type": "string"
								}
							}
						},
						"firstSeenDay": {
							"type": "string"
						},
						"daysOnline": {
							"type": "integer"
						},
						"preisProQm": {
							"type": "number"
						},
						"onlineRanges": {
							"type": "array",
							"items": {
								"type": "object",
								"properties": {
									"lt": {
										"type": "string"
									},
									"gte": {
										"type": "string"
									}
								}
							}
						},
						"crawlerIdsEntryIds": {
							"type": "array",
							"items": {
								"type": "object",
								"properties": {
									"firstSeenDay": {
										"type": "string"
									},
									"portalUrl": {
										"type": "string"
									},
									"state": {
										"type": "string"
									},
									"lastUpdatedDay": {
										"type": "string"
									}
								}
							}
						},
						"eventDay": {
							"type": "string"
						},
						"preis": {
							"type": "number"
						},
						"online": {
							"type": "boolean"
						},
						"state": {
							"type": "string"
						},
						"lastSeenDay": {
							"type": "string"
						},
						"nutzflaeche": {
							"type": "number"
						},
						"groupId": {
							"type": "string"
						},
						"nebenkosten": {
							"type": "object",
							"properties": {
								"Nebenkosten": {
									"type": "number"
								}
							}
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/geomap_to_be_uploaded_files_zip')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "datapipeline_blob_storage",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "*.zip",
						"folderPath": "de/geomap/to_upload",
						"container": "data-pipeline-input-files"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/geomap_to_be_uploaded_folder')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "datapipeline_blob_storage",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Geomap"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"folderPath": "de/geomap/to_upload",
						"container": "data-pipeline-input-files"
					},
					"compression": {
						"type": "ZipDeflate"
					}
				},
				"schema": {
					"type": "object",
					"properties": {
						"crawlerObject": {
							"type": "object",
							"properties": {
								"kaufMiete": {
									"type": "string"
								},
								"lage": {
									"type": "object",
									"properties": {
										"ort": {
											"type": "string"
										},
										"geoLongitude": {
											"type": "number"
										},
										"geoLatitude": {
											"type": "number"
										},
										"bundesland": {
											"type": "string"
										},
										"bezirk": {
											"type": "string"
										},
										"land": {
											"type": "string"
										},
										"stadtteilOrtsteil": {
											"type": "string"
										},
										"plz": {
											"type": "string"
										}
									}
								},
								"anbieter": {
									"type": "array",
									"items": {
										"type": "object",
										"properties": {
											"name": {
												"type": "string"
											},
											"anrede": {
												"type": "string"
											},
											"anbieterGewerblich": {
												"type": "boolean"
											}
										}
									}
								},
								"objektTyp": {
									"type": "string"
								},
								"angebotsInformationen": {
									"type": "object",
									"properties": {
										"titel": {
											"type": "string"
										},
										"portalUrl": {
											"type": "string"
										},
										"medien": {
											"type": "array",
											"items": {
												"type": "object",
												"properties": {
													"mediaArt": {
														"type": "string"
													},
													"originUrl": {
														"type": "string"
													},
													"mediaTyp": {
														"type": "array",
														"items": {
															"type": "string"
														}
													}
												}
											}
										},
										"beschreibungen": {
											"type": "object",
											"properties": {
												"LAGE": {
													"type": "string"
												},
												"BESCHREIBUNG": {
													"type": "string"
												},
												"SONSTIGES": {
													"type": "string"
												},
												"AUSSTATTUNG": {
													"type": "string"
												}
											}
										}
									}
								},
								"objektTypText": {
									"type": "string"
								},
								"objektEigenschaften": {
									"type": "object",
									"properties": {
										"heizungsart": {
											"type": "array",
											"items": {
												"type": "string"
											}
										},
										"sanitär": {
											"type": "array",
											"items": {
												"type": "string"
											}
										},
										"saniert": {
											"type": "boolean"
										},
										"energieausweis": {
											"type": "object",
											"properties": {
												"ausweisTyp": {
													"type": "string"
												},
												"ausweisInfo": {
													"type": "string"
												},
												"energieKennwerte": {
													"type": "object",
													"properties": {
														"ENERGIEKENNWERT": {
															"type": "object",
															"properties": {
																"KennwertKlasse": {
																	"type": "string"
																},
																"kennwert": {
																	"type": "number"
																},
																"KennwertKlasseText": {
																	"type": "string"
																}
															}
														}
													}
												}
											}
										},
										"flächen": {
											"type": "object",
											"properties": {
												"flächeValues": {
													"type": "object",
													"properties": {
														"Grundstuecksflaeche": {
															"type": "number"
														},
														"Wohnflaeche": {
															"type": "number"
														},
														"Nutzflaeche": {
															"type": "number"
														}
													}
												}
											}
										},
										"zustand": {
											"type": "string"
										},
										"ausstattungsQualität": {
											"type": "string"
										},
										"etage": {
											"type": "number"
										},
										"etageText": {
											"type": "string"
										},
										"anzahlen": {
											"type": "object",
											"properties": {
												"ZIMMER": {
													"type": "number"
												},
												"ETAGEN": {
													"type": "number"
												},
												"BADEZIMMER": {
													"type": "number"
												},
												"SCHLAFZIMMER": {
													"type": "number"
												},
												"STELLPLAETZE": {
													"type": "number"
												}
											}
										},
										"küche": {
											"type": "array",
											"items": {
												"type": "string"
											}
										},
										"balkonTerrasse": {
											"type": "array",
											"items": {
												"type": "string"
											}
										},
										"jahreszahlen": {
											"type": "object",
											"properties": {
												"BAUJAHR": {
													"type": "integer"
												},
												"SANIERUNG": {
													"type": "integer"
												}
											}
										},
										"keller": {
											"type": "array",
											"items": {
												"type": "string"
											}
										},
										"kommunikation": {
											"type": "array",
											"items": {
												"type": "string"
											}
										},
										"boden": {
											"type": "array",
											"items": {
												"type": "string"
											}
										},
										"aufzug": {
											"type": "array",
											"items": {
												"type": "string"
											}
										},
										"energieträger": {
											"type": "array",
											"items": {
												"type": "string"
											}
										},
										"stellplatz": {
											"type": "array",
											"items": {
												"type": "string"
											}
										},
										"möbliert": {
											"type": "array",
											"items": {
												"type": "string"
											}
										},
										"lageEinheit": {
											"type": "array",
											"items": {
												"type": "string"
											}
										},
										"sonstiges": {
											"type": "array",
											"items": {
												"type": "string"
											}
										}
									}
								},
								"objektArt": {
									"type": "string"
								},
								"preise": {
									"type": "object",
									"properties": {
										"provisionsfrei": {
											"type": "boolean"
										},
										"heizkostenInNebenkostenEnthalten": {
											"type": "boolean"
										},
										"preisTexte": {
											"type": "object",
											"properties": {
												"HeizkostenProMonat": {
													"type": "string"
												},
												"MieteProMonatOhneNebenkosten": {
													"type": "string"
												}
											}
										},
										"currency": {
											"type": "string"
										},
										"preisValues": {
											"type": "object",
											"properties": {
												"MieteProMonatOhneNebenkosten": {
													"type": "number"
												},
												"MieteProMonatMitNebenkosten": {
													"type": "number"
												},
												"NebenkostenProMonat": {
													"type": "number"
												},
												"MietKaution": {
													"type": "number"
												},
												"HeizkostenProMonat": {
													"type": "number"
												},
												"MieteProMonatProStellplatz": {
													"type": "number"
												},
												"Kaufpreis": {
													"type": "number"
												},
												"HausgeldProMonat": {
													"type": "number"
												}
											}
										}
									}
								},
								"addr": {
									"type": "object",
									"properties": {
										"stadtteil": {
											"type": "string"
										},
										"stadtbezirk": {
											"type": "string"
										},
										"kreis": {
											"type": "string"
										},
										"parentIds": {
											"type": "array",
											"items": {
												"type": "string"
											}
										},
										"accuracy": {
											"type": "string"
										},
										"ort": {
											"type": "string"
										},
										"stadtteilId": {
											"type": "string"
										},
										"landId": {
											"type": "string"
										},
										"bundesland": {
											"type": "string"
										},
										"bundeslandId": {
											"type": "string"
										},
										"land": {
											"type": "string"
										},
										"location": {
											"type": "object",
											"properties": {
												"lon": {
													"type": "number"
												},
												"lat": {
													"type": "number"
												}
											}
										},
										"ortId": {
											"type": "string"
										},
										"plz": {
											"type": "string"
										},
										"stadtbezirkId": {
											"type": "string"
										},
										"strasse": {
											"type": "string"
										},
										"hausnummer": {
											"type": "string"
										}
									}
								}
							}
						},
						"firstSeenDay": {
							"type": "string"
						},
						"daysOnline": {
							"type": "integer"
						},
						"preisProQm": {
							"type": "number"
						},
						"rendite": {
							"type": "object",
							"properties": {
								"marktmieteProQm": {
									"type": "number"
								},
								"marktmieteGebiet": {
									"type": "string"
								},
								"renditeAvg": {
									"type": "number"
								},
								"renditeQuelle": {
									"type": "string"
								},
								"marktRendite": {
									"type": "number"
								},
								"zeitraumMarktmiete": {
									"type": "object",
									"properties": {
										"lt": {
											"type": "string"
										},
										"gte": {
											"type": "string"
										}
									}
								},
								"anzahlAngeboteMarktmiete": {
									"type": "integer"
								}
							}
						},
						"onlineRanges": {
							"type": "array",
							"items": {
								"type": "object",
								"properties": {
									"lt": {
										"type": "string"
									},
									"gte": {
										"type": "string"
									}
								}
							}
						},
						"crawlerIdsEntryIds": {
							"type": "array",
							"items": {
								"type": "object",
								"properties": {
									"firstSeenDay": {
										"type": "string"
									},
									"portalUrl": {
										"type": "string"
									},
									"state": {
										"type": "string"
									}
								}
							}
						},
						"eventDay": {
							"type": "string"
						},
						"preis": {
							"type": "number"
						},
						"online": {
							"type": "boolean"
						},
						"lastOfflineDay": {
							"type": "string"
						},
						"state": {
							"type": "string"
						},
						"lastSeenDay": {
							"type": "string"
						},
						"nutzflaeche": {
							"type": "number"
						},
						"groupId": {
							"type": "string"
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/geomap_to_be_uploaded_zip_folder')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "datapipeline_blob_storage",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"folderPath": "de/geomap/to_upload",
						"container": "data-pipeline-input-files"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/geomap_uploaded_files')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "datapipeline_blob_storage",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Geomap"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"folderPath": "de/geomap/uploaded",
						"container": "data-pipeline-input-files"
					},
					"compression": {
						"type": "ZipDeflate"
					}
				},
				"schema": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/geomap_uploaded_files_zip')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "datapipeline_blob_storage",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "*zip",
						"folderPath": "de/geomap/uploaded",
						"container": "data-pipeline-input-files"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/geomap_uploaded_zip_folder')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "datapipeline_blob_storage",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"folderPath": "de/geomap/uploaded_2",
						"container": "data-pipeline-input-files"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/kadaster_to_be_uploaded')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "catella_hot_storage_accept",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Kadaster"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "nl/kadaster/to_upload/",
						"fileSystem": "data-pipeline-input-files"
					},
					"columnDelimiter": ";",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "OVER_BEW_K",
						"type": "String"
					},
					{
						"name": "STUK_ONTV_DATUM",
						"type": "String"
					},
					{
						"name": "OVER_STUK",
						"type": "String"
					},
					{
						"name": "VV_NAAM",
						"type": "String"
					},
					{
						"name": "VV_WOONPLAATS",
						"type": "String"
					},
					{
						"name": "NNP_VV_K",
						"type": "String"
					},
					{
						"name": "VK_NAAM",
						"type": "String"
					},
					{
						"name": "VK_WOONPLAATS",
						"type": "String"
					},
					{
						"name": "NNP_VK_K",
						"type": "String"
					},
					{
						"name": "OBJE_MUT_SRT_K",
						"type": "String"
					},
					{
						"name": "IND_FAM_TRANS",
						"type": "String"
					},
					{
						"name": "OBJE_OBJEKT",
						"type": "String"
					},
					{
						"name": "KAD_GEM",
						"type": "String"
					},
					{
						"name": "SECTIE",
						"type": "String"
					},
					{
						"name": "PERCEELNR",
						"type": "String"
					},
					{
						"name": "INDEXLT",
						"type": "String"
					},
					{
						"name": "INDEXNR",
						"type": "String"
					},
					{
						"name": "OBJE_GROOTTE",
						"type": "String"
					},
					{
						"name": "OBJE_KOOP_SOM",
						"type": "String"
					},
					{
						"name": "OBJE_IND_MEER_O_G",
						"type": "String"
					},
					{
						"name": "OBJE_BURG_GEM_NR",
						"type": "String"
					},
					{
						"name": "OBJE_BURG_GEM_NAAM",
						"type": "String"
					},
					{
						"name": "OBJE_KULT_ONGEB_K",
						"type": "String"
					},
					{
						"name": "ZAKR_ZR_K",
						"type": "String"
					},
					{
						"name": "OBJB_OBJ_BEL_K",
						"type": "String"
					},
					{
						"name": "OBJE_X_COORD",
						"type": "String"
					},
					{
						"name": "OBJE_Y_COORD",
						"type": "String"
					},
					{
						"name": "OBJE_KULT_TEXT",
						"type": "String"
					},
					{
						"name": "OBJA_KULT_GEB_K",
						"type": "String"
					},
					{
						"name": "OBJA_PLTS_NAAM",
						"type": "String"
					},
					{
						"name": "OBJA_STRAAT",
						"type": "String"
					},
					{
						"name": "OBJA_HUIS_NR",
						"type": "String"
					},
					{
						"name": "OBJA_HUIS_LR",
						"type": "String"
					},
					{
						"name": "OBJA_TOEVOEGING",
						"type": "String"
					},
					{
						"name": "OBJA_PTT_K",
						"type": "String"
					},
					{
						"name": "PHT",
						"type": "String"
					},
					{
						"name": "OVER_ID",
						"type": "String"
					},
					{
						"name": "BAG_ID",
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/kadaster_uploaded')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "catella_hot_storage_accept",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Kadaster"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "nl/kadaster/uploaded",
						"fileSystem": "data-pipeline-input-files"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/kra_to_be_uploader_folder')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "datapipeline_blob_storage",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"folderPath": "benelux/kra/to_upload",
						"container": "data-pipeline-input-files"
					},
					"compression": {
						"type": "ZipDeflate"
					}
				},
				"schema": {
					"type": "object",
					"properties": {
						"_id": {
							"type": "object",
							"properties": {
								"$oid": {
									"type": "string"
								}
							}
						},
						"source": {
							"type": "string"
						},
						"sourceUrl": {
							"type": "string"
						},
						"sourceId": {
							"type": "string"
						},
						"referenceDate": {
							"type": "string"
						},
						"isSale": {
							"type": "boolean"
						},
						"askingprice": {
							"type": "integer"
						},
						"including_purchase_cost": {
							"type": "null"
						},
						"service_charges": {
							"type": "integer"
						},
						"services_included": {
							"type": "array",
							"items": {
								"type": "object",
								"properties": {
									"name": {
										"type": "string"
									},
									"amount": {
										"type": "integer"
									},
									"frequency": {
										"type": "string"
									}
								}
							}
						},
						"property_type": {
							"type": "string"
						},
						"broker": {
							"type": "string"
						},
						"construction_year": {
							"type": "null"
						},
						"renovation_year": {
							"type": "null"
						},
						"living_area": {
							"type": "integer"
						},
						"land_area": {
							"type": "integer"
						},
						"furnishing": {
							"type": "null"
						},
						"floor": {
							"type": "null"
						},
						"title": {
							"type": "string"
						},
						"description": {
							"type": "string"
						},
						"number_of_rooms": {
							"type": "integer"
						},
						"particularities": {
							"type": "array",
							"items": {
								"type": "string"
							}
						},
						"construction_type": {
							"type": "array",
							"items": {
								"type": "string"
							}
						},
						"energy_label": {
							"type": "string"
						},
						"new_construction": {
							"type": "boolean"
						},
						"address": {
							"type": "object",
							"properties": {
								"street": {
									"type": "string"
								},
								"house_number": {
									"type": "integer"
								},
								"house_number_add": {
									"type": "null"
								},
								"city": {
									"type": "string"
								},
								"zip_code": {
									"type": "string"
								},
								"country": {
									"type": "string"
								},
								"construction_number": {
									"type": "null"
								}
							}
						},
						"geodata": {
							"type": "object",
							"properties": {
								"latitude": {
									"type": "number"
								},
								"longitude": {
									"type": "number"
								},
								"precise": {
									"type": "boolean"
								}
							}
						},
						"thumbnail_image_url": {
							"type": "string"
						},
						"picture_urls": {
							"type": "array",
							"items": {
								"type": "string"
							}
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/old_geomap_data_zip')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "datapipeline_blob_storage",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "*.zip",
						"container": "geomap-data"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/kra_to_be_uploaded_files_zip')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "datapipeline_blob_storage",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "*.zip",
						"folderPath": "benelux/kra/to_upload",
						"container": "data-pipeline-input-files"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/kra_uploaded_zip_folder')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "datapipeline_blob_storage",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"folderPath": "benelux/kra/uploaded",
						"container": "data-pipeline-input-files"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Kadaster_loader_OV15')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Upload OV15 data",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Remove last comma",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFolderPath": "nl/kadaster/to_upload",
									"wildcardFileName": "Catella_OV15*.csv",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"enableSkipIncompatibleRow": true,
							"logSettings": {
								"enableCopyActivityLog": true,
								"copyActivityLogSettings": {
									"logLevel": "Warning",
									"enableReliableLogging": false
								},
								"logLocationSettings": {
									"linkedServiceName": {
										"referenceName": "AzureBlobStorageLogs",
										"type": "LinkedServiceReference"
									},
									"path": "data-pipeline-input-files/nl/kadaster/logs"
								}
							},
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "DATUM",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "DATUM",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "PTT_K",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "PTT_K",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "PLTSNAAM",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "PLTSNAAM",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "STRAAT",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "STRAAT",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "HUISNR",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "HUISNR",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "TOEV",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "TOEV",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "WONINGTYPE",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "WONINGTYPE",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "X_COORD",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "X_COORD",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Y_COORD",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Y_COORD",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "KULT_GEB_K",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "KULT_GEB_K",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "GROOTTE",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "GROOTTE",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "K_SOM",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "K_SOM",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "IND_M_O_G",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "IND_M_O_G",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ZAK_R",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ZAK_R",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "KULT_TEKST",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "KULT_TEKST",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "OBJ_BEL",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "OBJ_BEL",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ERFDIENSTBH",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ERFDIENSTBH",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "KULT_GEB_K1",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "KULT_GEB_K1",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "KULT_ONGEB_K1",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "KULT_ONGEB_K1",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "INDEX_LR1",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "INDEX_LR1",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "GROOTTE1",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "GROOTTE1",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "PTT_K1",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "PTT_K1",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "PLTSNAAM1",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "PLTSNAAM1",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "STRAAT1",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "STRAAT1",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "HUISNR1",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "HUISNR1",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "TOEV1",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "TOEV1",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "KULT_GEB_K2",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "KULT_GEB_K2",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "KULT_ONGEB_K2",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "KULT_ONGEB_K2",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "INDEX_LR2",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "INDEX_LR2",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "GROOTTE2",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "GROOTTE2",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "PTT_K2",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "PTT_K2",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "PLTSNAAM2",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "PLTSNAAM2",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "STRAAT2",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "STRAAT2",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "HUISNR2",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "HUISNR2",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "TOEV2",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "TOEV2",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "KULT_GEB_K3",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "KULT_GEB_K3",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "KULT_ONGEB_K3",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "KULT_ONGEB_K3",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "INDEX_LR3",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "INDEX_LR3",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "GROOTTE3",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "GROOTTE3",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "PTT_K3",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "PTT_K3",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "PLTSNAAM3",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "PLTSNAAM3",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "STRAAT3",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "STRAAT3",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "HUISNR3",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "HUISNR3",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "TOEV3",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "TOEV3",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "KULT_GEB_K4",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "KULT_GEB_K4",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "KULT_ONGEB_K4",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "KULT_ONGEB_K4",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "INDEX_LR4",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "INDEX_LR4",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "GROOTTE4",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "GROOTTE4",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "PTT_K4",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "PTT_K4",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "PLTSNAAM4",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "PLTSNAAM4",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "STRAAT4",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "STRAAT4",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "HUISNR4",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "HUISNR4",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "TOEV4",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "TOEV4",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "IND_HUURDER",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "IND_HUURDER",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "BEWARINGKODE",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "BEWARINGKODE",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "STUK_ID",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "STUK_ID",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "MUT_SRT",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "MUT_SRT",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "BURGEM_NR",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "BURGEM_NR",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "OBJECT",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "OBJECT",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "NNP_1E_VERKR",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "NNP_1E_VERKR",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "NNP_1E_VERVR",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "NNP_1E_VERVR",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "FAM_TRANS",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "FAM_TRANS",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "PHT",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "PHT",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "KAD_GEM",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "KAD_GEM",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SECTIE",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "SECTIE",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "BAG_ID",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "BAG_ID",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "OV15_Input_files",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "AzureSql_Kadaster_OV15_Table",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Copy file_to_archive",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Copy OV15 from staging",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFolderPath": "nl/kadaster/to_upload",
									"wildcardFileName": "Catella_OV15*.csv",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings",
									"copyBehavior": "PreserveHierarchy"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "OV15_Input_files",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Kadaster_archive",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "delete_from_toUpload_folder",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "Copy file_to_archive",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "kadaster_to_be_uploaded",
								"type": "DatasetReference",
								"parameters": {}
							},
							"enableLogging": false,
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": true,
								"wildcardFileName": "Catella_OV15*.csv",
								"enablePartitionDiscovery": false
							}
						}
					},
					{
						"name": "Copy OV15 from staging",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Upload OV15 data",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[sp_copykadaster_OV15data_from_staging]"
						},
						"linkedServiceName": {
							"referenceName": "DataPipelineSQLDev",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Get Uploaded Filenames",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "kadaster_to_be_uploaded",
								"type": "DatasetReference",
								"parameters": {}
							},
							"fieldList": [
								"childItems"
							],
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "DelimitedTextReadSettings"
							}
						}
					},
					{
						"name": "Set filenames string",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Filter OV15 files",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "af",
							"value": {
								"value": "@replace(replace(replace(replace(replace(replace(replace(replace(replace(string(activity('Filter OV15 files').output.Value),'[{',''),'}]',''),'{',''),'}',''),'\"type\":\"Folder\"',''),'\"type\":\"File\"',''),'\"',''),'name:',''),',,',', ')",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Remove last comma",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Set filenames string",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "filenames_str",
							"value": {
								"value": "@substring(variables('af'), 0, add(length(variables('af')),-1))",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Filter OV15 files",
						"type": "Filter",
						"dependsOn": [
							{
								"activity": "Get Uploaded Filenames",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Get Uploaded Filenames').output.childItems",
								"type": "Expression"
							},
							"condition": {
								"value": "@contains(string(item()), 'OV15')",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Insert_Log",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Upload OV15 data",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[Insert_ADF_Logs]",
							"storedProcedureParameters": {
								"CopyActivityRunID": {
									"value": {
										"value": "@activity('Upload OV15 data').ActivityRunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"Date": {
									"value": {
										"value": "@utcnow()",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"ErrorMessage": {
									"value": null,
									"type": "String"
								},
								"Filenames": {
									"value": {
										"value": "@variables('filenames_str')",
										"type": "Expression"
									},
									"type": "String"
								},
								"PipelineName": {
									"value": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"type": "String"
								},
								"PipelineRunID": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"Rows_skipped": {
									"value": {
										"value": "@activity('Upload OV15 data').output.rowsSkipped",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"Rows_written": {
									"value": {
										"value": "@activity('Upload OV15 data').output.rowsCopied",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"StatusMessage": {
									"value": {
										"value": "@activity('Upload OV15 data').output.executionDetails[0].status",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "datapipeline_dev_db",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Insert_Error_Log",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Upload OV15 data",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[Insert_ADF_Logs]",
							"storedProcedureParameters": {
								"CopyActivityRunID": {
									"value": {
										"value": "@activity('Upload OV15 data').ActivityRunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"Date": {
									"value": {
										"value": "@utcnow()",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"ErrorMessage": {
									"value": {
										"value": "@activity('Upload OV15 data').output.errors[0].Message",
										"type": "Expression"
									},
									"type": "String"
								},
								"Filenames": {
									"value": {
										"value": "@variables('filenames_str')",
										"type": "Expression"
									},
									"type": "String"
								},
								"PipelineName": {
									"value": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"type": "String"
								},
								"PipelineRunID": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"Rows_skipped": {
									"value": {
										"value": "@activity('Upload OV15 data').output.rowsSkipped",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"Rows_written": {
									"value": {
										"value": "@activity('Upload OV15 data').output.rowsCopied",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"StatusMessage": {
									"value": {
										"value": "@activity('Upload OV15 data').output.executionDetails[0].status",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "datapipeline_dev_db",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Raise_Failed",
						"type": "Fail",
						"dependsOn": [
							{
								"activity": "Insert_Error_Log",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"message": {
								"value": "@activity('Upload OV15 data').output.errors[0].Message",
								"type": "Expression"
							},
							"errorCode": {
								"value": "@activity('Upload OV15 data').output.errors[0].Code",
								"type": "Expression"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"variables": {
					"af": {
						"type": "String"
					},
					"filenames_str": {
						"type": "String"
					}
				},
				"annotations": [],
				"lastPublishTime": "2023-07-18T20:44:05Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/OV15_Input_files')]",
				"[concat(variables('factoryId'), '/datasets/Kadaster_archive')]",
				"[concat(variables('factoryId'), '/datasets/kadaster_to_be_uploaded')]"
			]
		}
	]
}